<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: head('Sign Up')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="signupRoot">
    <div class="row hor-sep-60"></div>
    <ul th:replace="fragments/nav :: leftNav"></ul>
    <div class="row">
        <div class="col-md-5 col-xl-3 offset-md-2">
            <div class="signForm">
                <h1>Sign Up</h1>
                <a href="/signin">Or Sign In</a>
                <br/>
                <div class="input-group float-left">
                    <label for="firstName"><b>First Name</b></label>
                    <input class="data-input" v-model="firstName" type="text"
                           placeholder="First Name" id="firstName"/>
                </div>
                <div class="input-group float-right">
                    <label for="lastName"><b>Last Lame</b></label>
                    <input class="data-input" v-model="lastName" type="text"
                           placeholder="Last name" id="lastName"/>
                </div>

                <label for="email"><b>Email</b></label>
                <input class="data-input w-100" v-model="email" type="email" placeholder="Enter Email" id="email"/>

                <label for="username"><b>Username</b></label>
                <input class="data-input w-100" v-model="username" type="text" placeholder="Enter Username"
                       id="username"/>

                <label for="password"><b>Password</b></label>
                <input class="data-input w-100" v-model="password" type="password" placeholder="Enter Password"
                       id="password"/>

                <label for="passwordConfirm"><b>Confirm password</b></label>
                <input class="data-input w-100" v-model="passwordConfirm" type="password" placeholder="Confirm Password"
                       id="passwordConfirm"/>
                <button type="button" class="submit-btn" v-on:click="signup">SUBMIT</button>
            </div>
            <div v-if="hasError" class="alert alert-warning" role="alert">{{statusMessage}}</div>
            <div v-else-if="!hasError" class="alert alert-success" role="alert"><span v-html="statusMessage"></span></div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>
    var app = new Vue({
        el: '#signupRoot',
        props: ['message'],
        data: {
            hasError: false,
            statusMessage : '',
            firstName: '',
            lastName: '',
            email: '',
            username: '',
            password: '',
            passwordConfirm: '',
        },
        mounted() {
            $('.alert').hide();
            Event.$on('signed-in', function () {
                window.location.replace("/");
            })
        },
        methods: {
            signup() {
                var params = {
                    "firstName": this.firstName,
                    "lastName": this.lastName,
                    "email": this.email,
                    "username": this.username,
                    "password": this.password,
                    "passwordConfirm": this.passwordConfirm
                };
                axios({
                    method: 'post',
                    url: '/api/users/signup',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: params
                }).then((resultAxios) => {
                    this.statusMessage = 'Account created. Please ' + '<a href="/signin" style="color: #1E1E24;" class="alert-link">sign in</a>';
                    this.hasError = false;
                    this.showAlert();
                }).catch(function (error) {
                    this.statusMessage = error.response.data;
                    this.hasError = true;
                    this.showAndHideAlert();
                }.bind(this))
            },
            showAndHideAlert() {
                $(".alert").fadeIn('slow');
                setTimeout(function () {
                    $('.alert').fadeOut('slow');
                }, 1500);
            },
            showAlert() {
                $(".alert").fadeIn('slow');
            }
        }
    });
</script>
</body>
</html>






























