<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: head('Sign In')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<ul th:replace="fragments/nav :: leftNav"></ul>

<div class="container-fluid" id="signInRoot">
    <div class="row hor-sep-60"></div>

    <div class="row">
        <div class="col-md-5 col-xl-3 offset-md-2">
            <form class="signForm">
                <h2>Sign in</h2>
                <a href="/signup">Or create account</a><br/>

                <div class="form-group">
                    <input v-on:keyup.enter="signin" class="data-input form-control" v-model="username" type="text" maxlength="20" required="required" autofocus="autofocus" id="username"/>
                    <label class="form-control-placeholder" for="username">Username</label>
                </div>
                <div class="form-group">
                    <input v-on:keyup.enter="signin" class="data-input form-control" v-model="password" type="password" maxlength="30" required="required" id="password"/>
                    <label class="form-control-placeholder" for="password">Password</label>
                </div>
                <button class="submit-btn" type="button"  v-on:click="signin">Submit</button>
            </form>
            <div v-show="statusMessage" class="alert alert-warning" role="alert" v-cloak="v-cloak">{{statusMessage}}</div>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: scripts"></div>
<script>

    var signinVue = new Vue({
        el: '#signInRoot',
        data: {
            statusMessage: '',
            username: '',
            password: '',
        },
        mounted() {
            Event.$on('signed-in',function(){
                window.location.replace("/");
            })
        },
        methods: {
            signin() {
                signin(this.username,this.password)
            },
            // signin() {
            //     var params = new URLSearchParams();
            //     params.append('grant_type', 'password');
            //     params.append('username', this.username);
            //     params.append('password', this.password);
            //     axios({
            //         method: 'post',
            //         url:'/oauth/token',
            //         auth:{
            //             username:'photois-client',password:'photois-secret'
            //         },
            //         headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
            //         data:params
            //     }).then(function (response) {
            //         setCookie("access_token", response.data.access_token);
            //         document.location.replace("/profile");
            //     }).catch(function (error) {
            //         this.statusMessage = "Wrong username or password";
            //         this.showAndHideAlert();
            //     }.bind(this))
            // },
            showAndHideAlert() {
                $(".alert").fadeIn('slow');
                setTimeout(function () {
                    $('.alert').fadeOut('slow');
                }, 1500);
            },
        }
    });
</script>
</body>
</html>






























