.blurred-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    filter: grayscale(100%) blur(5px);
    object-fit: cover;
    opacity: 0.8;
}

.photo-container {
    height: auto;
    background-color: #1E1E24;
    color: #d2c7c4;
    position: relative;
    
}

.photo-info {
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.single-photo {
    padding-right: 0;
    padding-left: 0;
}
.single-photo h5 {
    color: #F7EBE8;
}

.single-photo > .photo-container > .photo > a > img {
    width: 100%;;
    max-height: 85vh;    
    cursor: zoom-in;
    object-fit: cover;
}

.single-photo > .photo-container > .photo > a {
    text-decoration: none;
    color: #1E1E24;
    text-align: left;
}

.single-photo p {
    font-size: 0.8em;
    margin: 0;
}

.photo-description, .photo-header {
    padding: 15px;
}


.photo-description a {
    text-decoration: none;
    color: #d2c7c4;
}

.photo-description a:hover {
    color: #EEB902;
}

.favorite-add:hover, .favorite-remove:hover {
    color: #EEB902;
    cursor: pointer;
}

/*COMMENTS*/
#comments-container {
    color: #d2c7c4;
    padding-top: 15px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 49px;
    width: 250px;
}

#show-comments-btn {
    color:#EEB902; 
    margin-top:2px;
    border: #EEB902 1px solid;
    position: absolute;
    bottom:51px;
    right: 0;
    width: 250px;
    background-color: #1E1E24;
}

.comments-header {
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: inherit;
    z-index: 30;
    text-align: center;

}

.comments-header button {
    width: 100%;
    
}



.comment-input-section {
    background-color: #1E1E24;
    padding-bottom: 5px;
}

.comments-header textarea {
    resize: none;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    font-size: 0.875em;
    background-color: #d2c7c4;
    border-radius: 3px;
}

.comments-header .length-counter {
    font-size: 0.7em;
}

.comments-body {
    overflow: scroll;
    position: absolute;
    bottom: 78px;
    top:0px;
    right: 0;
    border-bottom-left-radius: 5px;
    width: inherit;
    background-color: #1E1E24;
    opacity: 0.8;
    padding: 7px;
    color: #e9e9e9;
}

.comments-body ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.comments-body > ul > li {
    margin: 10px 0;
    font-size: 0.775em;
}

.comments-body > ul > li > a {
    text-decoration: none;
    color: #EEB902;


}

.comments-body > ul > li > a:hover {
    color: #d2c7c4;
}

@media screen and (max-width: 767px) {
    #comments-container {
        width: 100%;
    }
    #show-comments-btn {
        width: 100%;
    }
    .single-photo p {
        font-size: 0.7em;
    }    

    #comments-container {
        position: relative;
        display: block;
    }
    .comments-container {
        padding-top: 0;
        z-index: 1;
        /* margin-top: 100px; */
        
    }
    .comments-body {
        height: 500px;
        margin-top: 83px;
       
    }
    .comments-header {
        position: absolute;
        top: 0px;
    }
}

@media screen and (min-width: 767px) {
    .single-photo-col {
        padding-left: 15%;
    }
}
.bounce-enter-active {
    animation: bounce-in .5s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}




.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-enter, .flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }