/*.authors-container {*/
/*display: grid;*/
/*grid-template-columns: 1fr 2fr 1fr;   SAME grid-template-columns: repeat(3,100px); !* WIDTH *!*/
/*grid-template-rows: 50px 50px;        SAME repeat(2,50px)  !* HEIGHT *!*/
/*}*/

/*.authors-container {*/
/*display: grid;*/
/*grid-gap: 5px;*/
/*grid-template-columns: repeat(auto-fit,100px); !* WIDTH *!*/
/*grid-template-rows: repeat(2,50px);  !* HEIGHT *!*/
/*}*/
/*It simply tries to fit as many 100px wide columns into the container as possible.*/



.authors-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 250px); /* WIDTH */
    /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
    /*grid-template-rows: repeat(2,150px); !* HEIGHT *!*/
}

.authors-container  a {
    text-decoration: none;
    color: inherit;
}

.grid-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.grid-item {
    background-color: #1E1E24;
    margin: 5px;
    cursor: pointer;
    color: #F7EBE8;
    text-align: center;
    border-radius:  25px 25px  25px 25px;
}


.grid-item img {
    width: 140px;
    height: 140px;
    max-height: 142px ;
    object-fit: cover;
    border-radius: 50% 50% 50% 50%;
    /*height: auto;*/
}

/*DON'T REMOVE*/

/*.item1 {*/
/*grid-column-start: 1;*/
/*grid-column-end: 4;*/
/*}*/

/* SAME AS */

/*.item1 {*/
/*grid-column: 1 / 4;*/
/*}*/