/* Style the tab */
.profile-tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px black solid;
    width: 85%;
    right: 0;
    position: fixed;
    font-size: 0.875em;
    z-index: 20;
    opacity: .75;
}

/* Style the buttons inside the tab */
.profileTabBtn {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    color: inherit;
}

/* Change background color of buttons on hover */
.profile-tab .profileTabBtn:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #E5E6E4;
}

/* Create an active/current tablink class */
.profile-tab .profileTabBtn.active {
    background-color: #CDD3CE;
}

/* Style the tab content */
.profileTabContent {
    font-size: 0.875em;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}



.photoUploadContainer {
    max-width: 600px;

}

.upload-photo-preview {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.photoUploadContainer label {
    width: 100%;
}

#photoUploadDescription {
    resize: none;
    height: 100px;
    padding: 5px 10px 5px 10px;
}

#photoUploadCategory {
    margin-bottom: 20px;
    /*background: transparent;*/
    background-image: none;
    -webkit-appearance: none;;
}









.avatarContainer {
    max-width: 250px;
    margin-bottom: 20px;

}

.profile-tab-avatar {
    width:30vw;
    height: 30vw;
    max-width: 250px;
    max-height:250px;
    overflow: hidden;
    object-fit: cover;
    transition: 0.5s ease;
    border-radius: 50%;
    backface-visibility: hidden;
}

.avatar-middle-overlay {
    transition: 0.5s ease;
    /*position: absolute;*/
    opacity: 0;
    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*vertical-align: middle;*/

    /*horiz-align: center;*/
    /*vertical-align: center;*/
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;


    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*-o-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    /*text-align: center;*/
}

.avatarContainer:hover .profile-tab-avatar {
    opacity: 0.3;
}
.avatarContainer:hover .avatar-middle-overlay {
    opacity: 1;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 1200px) {
    .profile-tab {
        width: 87%;
    }
}

@media screen and (max-width: 767px) {
    .profile-tab {
        width: 100%;
    }

}


