<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head('Profile')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="profileRoot">
    <div class="row hor-sep-60"></div>

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

    <div class="row hor-sep-30"></div>

    <div class="row">
        <div class="col-md-1 offset-md-2">
            <h4 v-show="statusMessage">awdwa da{{statusMessage}}</h4>
        </div>

        <div class="col-md-9">
            <div class="author-profile-avatar animated rotateIn">
                <img v-bind:src="user.avatarUrl" alt=""/>
            </div>
            <div class="author-profile-description">
                <h1><b>{{user.firstName}}</b></h1>
                <h1><b>{{user.lastName}}</b></h1>
                <h1>@{{user.username}}</h1>
                <div v-show="user.id !== loggedInUser.id">
                    <button v-if="!isUserFavorite " v-on:click="isUserFavorite = !isUserFavorite"
                            onclick="addUserToFavoritesRequest(author.loggedInUser, author.user)"
                            class="btn submit-btn hvr-sweep-to-right"><i
                            class="fas fa-star"></i> Add to favorites
                    </button>
                    <button v-else-if="isUserFavorite" v-on:click="isUserFavorite = !isUserFavorite"
                            onclick="removeUserFromFavoritesRequest(author.loggedInUser, author.user)"
                            class="btn submit-btn hvr-sweep-to-right">
                        <i class="far fa-star"></i> Remove from favorites
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hor-sep-30"></div>

    <!-- Modal -->
    <div class="modal fade user-photo-modal" tabindex="-1" role="dialog"
         aria-labelledby="user-photo-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style=" border: none">

                <h5 style="left: 5px;" v-if="modalPhoto.user">
                    <a v-bind:href="'/profile/' + modalPhoto.user.username" class="badge badge-dark">
                        <img src="" v-bind:src="modalPhoto.user.avatarUrl" alt=""/>
                        @{{modalPhoto.user.username}}</a>
                </h5>

                <h5 style="right: 5px;" v-if="modalPhoto.photoCategory">
                    <a v-bind:href="'/categories/' + modalPhoto.photoCategory.name" style="color: white;" class="badge badge-dark category-badge"><i class="fas fa-clipboard-list"></i>
                        {{modalPhoto.photoCategory.name}}</a>
                </h5>
                <a v-bind:href="'/photo/' + modalPhoto.id">

                    <img v-bind:src="modalPhoto.url" alt=""/>
                </a>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div v-show="modalPhoto.title"><p><b>{{modalPhoto.title}}</b></p></div>
                            <div v-show="modalPhoto.description"><p>{{modalPhoto.description}}</p></div>
                            <a v-bind:href="'/photo/' + modalPhoto.id" class="btn btn-outline-success"><i
                                    class="fas fa-comment"></i> Comments ({{commentCounter}})</a>
                            <a v-if="!isPhotoFavorite" v-on:click="isPhotoFavorite = !isPhotoFavorite;"
                               onclick="addPhotoToFavoritesRequest(author.loggedInUser, author.modalPhoto, author); return false"
                               class="btn btn-outline-dark" href="#"><i class="fas fa-star"></i> Favorite</a>
                            <a v-else-if="isPhotoFavorite" v-on:click="isPhotoFavorite = !isPhotoFavorite;"
                               onclick="removePhotoFromFavoritesRequest(author.loggedInUser, author.modalPhoto, author); return false"
                               class="btn btn-outline-dark" href="#"><i class="far fa-star"></i> Remove</a>

                            <button disabled="disabled" class=" btn btn-outline-dark" v-if="modalPhoto.dateCreated"><i
                                    class="fas fa-calendar-alt"></i> {{modalPhoto.dateCreated}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--USER UPLOADED PHOTOS GRID -->
    <div class="col-md-10 offset-md-2">
        <div class="photos-container row">
            <div v-for="photo in userPhotos" class="photo-grid-item" v-on:click="openModalPhoto(photo)">
                <img v-bind:src="photo.url"
                     class="grid-image openImageDialog"
                     alt=""/>
                <div class="middle">
                    <h5><b>{{photo.title}}</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>
    var author = new Vue({
        el: '#profileRoot',
        data: {
            isPhotoFavorite: false,
            isUserFavorite: '',
            user: [],

            commentCounter: 0,

            loggedInUser: '',
            favoritePhotos: [],

            statusMessage: '',
            userPhotos: [],
            modalPhoto: '',
        },
        mounted() {
            this.fetchAuthorByUsername();
        },
        methods: {
            fetchAuthorByUsername() {
                var username = this.getAuthorUsername();
                getAuthorByUsernameRequest(username)
                    .then((resultAxios) => {
                        this.user = resultAxios.data;
                        this.fetchLoggedInUser();
                        this.fetchUserPhotos();
                    }).catch(function (error) {
                    this.statusMessage = error.response.data;
                }.bind(this))
            },
            getAuthorUsername() {
                var splitted = window.location.href.split('/');
                return splitted[splitted.length - 1];
            },
            fetchLoggedInUser() {
                if (getCookie("access_token")) {
                    getLoggedInUserRequest()
                        .then(function (response) {
                            this.loggedInUser = response.data;
                            this.fetchIsUserFavorite();
                            this.fetchFavoritePhotos();
                        }.bind(this))
                        .catch(function (error) {
                            deleteCookie("access_token");
                            return error;
                        });
                }
            },
            fetchUserPhotos() {
                getUserPhotosRequest(this.user).then(function (response) {
                    this.userPhotos = response.data.reverse();
                }.bind(this))
            },
            openModalPhoto(photo) {
                this.modalPhoto = photo;
                this.fetchIsPhotoFavorite(photo);
                this.fetchCommentsToPhoto(photo);
                $('.user-photo-modal').modal('show')
            },
            fetchIsUserFavorite() {
                getIsUserFavoriteRequest(this.loggedInUser, this.user)
                    .then(function (response) {
                        this.isUserFavorite = response.data !== '';
                    }.bind(this));
            },
            fetchFavoritePhotos() {
                getFavoritePhotosRequest(this.loggedInUser)
                    .then(function (response) {
                        this.favoritePhotos = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchIsPhotoFavorite(photo) {
                this.isPhotoFavorite = this.favoritePhotos.some(e => e.id === photo.id);
            },
            fetchCommentsToPhoto(photo) {
                getCommentsToPhotoRequest(photo.id)
                    .then(function (response) {
                        this.commentCounter = response.data.length;
                    }.bind(this))
            }
        }
    });
</script>
</body>
</html>