<!doctype html>
<html lang="en">
<head th:include="fragments/header :: head('Categories')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="categoriesRoot">

    <div class="row hor-sep-60"></div>

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

    <div class="hor-sep-30"></div>
    <div class="row">
        <div class="col-md-5 offset-md-2">
            <p v-for="category in categories">{{category.name}}</p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>

    loadProgressBar();

    var categoriesPage = new Vue({
        el: '#categoriesRoot',
        data: {
            categories: ''
        },
        mounted() {
            this.fetchCategories();
        },

        methods: {
            fetchCategories() {
                getCategoriesRequest()
                    .then(function (response) {
                        this.categories = response.data
                    }.bind(this)).catch(function (errors) {
                        console.log(errors)
                    });
            }
        }

    })
</script>
</body>
</html>