<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head('News')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="content">
	<div class="row hor-sep-60"></div>

	<ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

	<div class="row" v-for="photo in posts">
		<div class="col-md-7 offset-md-2">
			<div style="background-color: grey">
				<h2><a :href="getLink(photo)">{{photo.title}}</a></h2>
				<p>{{photo.body}}</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>
    var printAllPosts = new Vue({
        el: '#content',
        data: {posts: []},
        mounted() {
            this.fetchPosts();
        },
        methods: {
            fetchPosts() {
                axios.get("/api/posts").then(function(response) {
                    this.posts = response.data;
                }.bind(this));
            },
            getLink(photo) {
                return '/api/posts/' + photo.id;
            }
        }
    });
</script>
</body>
</html>