<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head('My Profile')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>

<div class="container-fluid" id="myProfileRoot">
    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

    <div class="profile-tab">
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Uploads')"><i class="fas fa-images"></i> UPLOADS
        </button>
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Favorites')"><i class="fas fa-star"></i> FAVORITES
        </button>
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Settings')"><i class="fas fa-cog"></i> SETTINGS
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade user-photo-modal" tabindex="-1" role="dialog"
         aria-labelledby="user-photo-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style=" border: none">

                <h5 style="left: 5px;" v-if="modalPhoto.user">
                    <a v-bind:href="'/profile/' + modalPhoto.user.username" class="badge badge-dark">
                        <img src="" v-bind:src="modalPhoto.user.avatarUrl" alt=""/>
                        @{{modalPhoto.user.username}}</a>
                </h5>
                <h5 style="right: 5px;" v-if="modalPhoto.photoCategory">
                    <a onclick="openCategory(profilePage.modalPhoto.photoCategory.name)" href="#" style="color: white;" class="badge badge-dark category-badge"><i class="fas fa-clipboard-list"></i>
                        {{modalPhoto.photoCategory.name}}</a>
                </h5>
                <a v-bind:href="'/photo/' + modalPhoto.id">
                    <img v-bind:src="modalPhoto.url" alt=""/>
                </a>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div v-show="modalPhoto.title"><p><b>{{modalPhoto.title}}</b></p></div>
                            <div v-show="modalPhoto.description"><p>{{modalPhoto.description}}</p></div>

                            <a v-bind:href="'/photo/' + modalPhoto.id" class="btn btn-outline-success"><i class="fas fa-comment"></i> Comments ({{commentCounter}})</a>
                            <div class="btn-group" role="group">
                                <button id="btnMoreGroup" type="button" class="btn btn-outline-dark dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-info-circle"></i> More
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnMoreGroup">
                                    <a class="dropdown-item btn btn-outline-danger" v-on:click="deletePhoto(modalPhoto);" onclick="return false"
                                       href="#"><i class="fas fa-trash"></i> Delete</a>
                                </div>
                            </div>
                            <button disabled="disabled" class=" btn btn-outline-dark" v-if="modalPhoto.dateCreated">
                                <i class="fas fa-calendar-alt"></i> {{modalPhoto.dateCreated}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs  -->
    <!--== ===== = == =  == = = = = = = = = = = === = = = = = = = = ======= = = = = = = = = = = = = =  =  = = ==== = == == = = = = = = = = = = = = ======   = = == =-->
    <div id="Uploads" class="profileTabContent row"><!-- UPLOADS -->
        <div class="col-md-5 offset-md-2">
            <div v-if="updateData != 'photo'">
                <h3>Welcome, {{user.firstName}}!</h3>
                <p>On this page you can upload new photos</p>
            </div>
            <div class="photoUploadContainer">
                <img v-if="updateData === 'photo'" :src="uploadPhotoPreview" class="upload-photo-preview"/>

                <input accept="image/*" :disabled="statusMessage !== ''" type="file" v-on:change="onFileChange" class="inputFile" id="photo_input_file"
                       value="Choose file"/>
                <label for="photo_input_file" class="btn btn-outline-dark" >
                    <span v-if="statusMessage" v-html="statusMessage">Uploading.. Please wait.. <i class="fas fa-sync fa-spin"></i></span>
                    <span v-else-if="!statusMessage"><i class="fas fa-camera"></i> SELECT PHOTO</span>
                </label>
            </div>
        </div>

        <div class="col-md-4">
            <div v-if="updateData === 'photo'">
                <h6 v-html="statusMessage" style="text-align: center"></h6>

                <div class="form-group">
                    <label for="uploadPhotoTitle">Title</label>

                    <input maxlength="100" placeholder="Not required" class="data-input" v-model="uploadPhotoTitle"
                           id="uploadPhotoTitle" type="text"/>
                </div>
                <div class="form-group">
                    <label for="uploadPhotoDescription">Description</label>
                    <textarea maxlength="150" placeholder="Not required" class="data-input"
                              v-model="uploadPhotoDescription"
                              id="uploadPhotoDescription"
                              rows="3"></textarea>
                </div>

                <select v-model="uploadPhotoCategory" class="data-input" id="uploadPhotoCategory">
                    <option disabled="disabled" value="">Choose category (Required)</option>
                    <option v-for="category in categories">{{category.name}}</option>
                </select>

                <button v-on:click="uploadPhoto" class="btn btn-outline-success"><i class="fas fa-chevron-circle-up"></i> Upload
                </button>
                <button v-on:click="cancelPhotoUploading" class="btn btn-outline-danger"><i class="fas fa-times"></i> Cancel
                </button>
            </div>
        </div>

        <!--USER UPLOADED PHOTOS GRID -->
        <div class="col-md-10 offset-md-2">
            <div class="photos-container">
                <div v-for="photo in userPhotos" class="photo-grid-item" v-on:click="openModalPhoto(photo)">
                    <img v-bind:src="photo.url"
                         class="grid-image openImageDialog"
                         alt=""/>
                    <div class="middle">
                        <h5><b>{{photo.title}}</b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== ===== = == =  == = = = = = = = = = = === = = = = = = = = ======= = = = = = = = = = = = = =  =  = = ==== = == == = = = = = = = = = = = = ======   = = == =-->

    <div id="Favorites" class="profileTabContent row">
        <div class="col-md-6 col-8 col-xl-8 offset-md-2">                               <!--FAVORITES-->
            <div class="favorite-photos favorite-column">
                <p><b><i class="fas fa-star"></i> PHOTOS</b></p>
                <ul>
                    <li v-for="photo in favoritePhotos">
                        <a v-bind:href="'/photo/' + photo.id">
                            <img style="cursor: pointer" v-bind:src="photo.url" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-4 col-xl-2">
            <div class="favorite-users favorite-column">
                <p><b><i class="fas fa-star"></i> AUTHORS</b></p>
                <ul>
                    <li v-for="user in favoriteUsers">
                        <a v-bind:href="'/profile/' + user.username">
                            <img v-bind:src="user.avatarUrl" style="width: 50px" height="50px" alt=""/>
                            @{{user.username}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--== ===== = == =  == = = = = = = = = = = === = = = = = = = = ======= = = = = = = = = = === == = = = = = ==  =  = == =   = = = =  = = =  =  = = =  = = == =-->
    <div id="Settings" class="profileTabContent row">                                           <!--   SETTING  -->
        <div class="col-md-5 col-xl-4 offset-md-2 col 6">
            <h3>Welcome, {{user.firstName}}!</h3>
            <p>On this page you can:</p>
            <ol>
                <li>Change your profile picture.</li>
                <li>Change your email</li>
                <li>Change your password</li>
            </ol>

            <!--change email form-->
            <p>Date of registration: {{user.registrationDate}}</p>
            <h5>Email: {{user.email}} <br/><a class="badge badge-dark" v-on:click="updateData = 'email'" href="#">Change
                email</a>
                <a v-on:click="updateData = 'password'" class="badge badge-dark" href="#">Change password</a></h5>

            <transition name="slide-fade">
                <div v-if="updateData === 'email'" class="profile-settings-form">
                    <input class="data-input" v-model="newEmail" type="email" placeholder="Enter new email"/>
                    <input class="data-input" v-model="newEmailConfirm" type="email" placeholder="Confirm new email"/>
                    <button v-on:click="updateEmail(newEmail,newEmailConfirm)" class="btn btn-success"><i
                            class="fas fa-chevron-circle-up"></i> Submit
                    </button>
                    <button v-on:click="updateData = ''" class="btn btn-danger"><i class="fas fa-times"></i> Cancel
                    </button>
                </div>
            </transition>

            <!-- change password form-->
            <transition name="slide-fade">
                <div v-if="updateData === 'password'" class="profile-settings-form">
                    <input class="data-input" v-model="oldPass" type="password" placeholder="Enter old password"/>
                    <input class="data-input" v-model="newPass" type="password" placeholder="Enter new password"/>
                    <input class="data-input" v-model="newPassConfirm" type="password"
                           placeholder="Confirm new password"/>
                    <button v-on:click="updatePassword(oldPass,newPass,newPassConfirm)" class="btn btn-success"><i
                            class="fas fa-chevron-circle-up"></i> Submit
                    </button>
                    <button v-on:click="updateData = ''" class="btn btn-danger"><i class="fas fa-times"></i> Cancel
                    </button>
                </div>
            </transition>
            <div v-if="hasError" class="alert alert-warning" role="alert">{{statusMessage}}</div>
            <div v-else="" class="alert alert-success" role="alert">{{statusMessage}}</div>
        </div>

        <div class="col-md-3 col-avatar col-5" style="max-width: 280px;">
            <div class="avatarContainer">
                <img :src="avatarImage" alt="Avatar" class="profile-tab-avatar"/>

                <div class="avatar-middle-overlay">
                    <input accept="image/*" type="file" v-on:change="onFileChange" class="inputFile"
                           id="avatar_input_file"
                           value="Choose file"/>
                    <label for="avatar_input_file" class="btn btn-outline-dark"><i class="fas fa-camera"></i>
                        Choose</label>
                </div>
            </div>
            <div v-if="updateData === 'avatar'" style="text-align: center">
                <h6 v-if="hasError" class="alert alert-warning" role="alert">{{statusMessage}}</h6>
                <h6 v-else="" class="alert alert-success" role="alert">{{statusMessage}} <i
                        class="fas fa-sync fa-spin"></i></h6>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script th:src="@{scripts/profile.js}"
        src="../static/scripts/profile.js"
        type="text/javascript">
</script>
<script>
    var profilePage = new Vue({
        el: '#myProfileRoot',
        data: {
            user: {},

            oldPass: '',
            newPass: '',
            newPassConfirm: '',
            newEmail: '',
            newEmailConfirm: '',

            updateData: '',
            statusMessage: '',
            hasError: false,

            userPhotos: [],
            favoriteUsers: [],
            favoritePhotos: [],
            categories: [],
            commentCounter: 0,

            modalPhoto: '',
            avatarImage: '',
            uploadPhotoPreview: '',

            uploadPhotoTitle: '',
            uploadPhotoDescription: '',
            uploadPhotoCategory: '',
        },
        mounted() {
            $('.alert').hide();
            this.fetchLoggedInUser();
        },
        computed: {

        },
        methods: {
            fetchLoggedInUser() {
                if (getCookie("access_token")) {
                    getLoggedInUserRequest()
                        .then(function (response) {
                            this.user = response.data;
                            this.avatarImage = response.data.avatarUrl;
                            if (this.avatarImage === "")
                                this.avatarImage = "/img/user-icon-white.png";
                            this.fetchCategories();
                            this.fetchUserPhotos();
                            this.fetchFavoriteUsers();
                            this.fetchFavoritePhotos();
                        }.bind(this))
                        .catch(function (error) {
                            deleteCookie("access_token");
                            return error;
                        });
                }
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var reader = new FileReader();

                if (currentProfileTab === 'Settings') {
                    reader.onload = (e) => {
                        this.updateData = 'avatar';
                        this.avatarImage = e.target.result;
                    };
                    reader.readAsDataURL(file);
                    this.uploadAvatar();
                } else if (currentProfileTab === 'Uploads') {
                    reader.onload = (e) => {
                        this.updateData = 'photo';
                        this.uploadPhotoPreview = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            },
            uploadAvatar() {
                var uploadingFile = document.getElementById("avatar_input_file").files[0];
                if (!this.isUploadingFileTypeOfImage(uploadingFile)) {
                    this.hasError = true;
                    this.statusMessage = "File should be type of image";
                    this.showAndHideAlert();
                    return;
                }
                var formData = new FormData();
                formData.append("avatarImage", uploadingFile);
                this.hasError = false;
                this.statusMessage = "Uploading";
                putAvatarRequest(this.user, formData).then(
                    function () {
                        vueLoggedUser.user.avatarUrl = this.avatarImage;
                        this.updateData = '';
                        this.statusMessage = "";
                    }.bind(this)
                );
            },
            cleanFileInput(id) {
                $(id).val("");
            },
            updateEmail(newEmail, newEmailConfirm) {
                putEmailRequest(this.user, newEmail, newEmailConfirm)
                    .then((resultAxios) => {
                        this.statusMessage = resultAxios.data;
                        this.hasError = false;
                        this.updateData = '';
                        this.user.email = newEmail;
                    }).catch(function (error) {
                    this.statusMessage = error.response.data;
                    this.hasError = true;
                }.bind(this));
                this.showAndHideAlert();
            },
            updatePassword(oldPass, newPass, newPassConfirm) {
                putPasswordRequest(this.user, oldPass, newPass, newPassConfirm)
                    .then((resultAxios) => {
                        this.statusMessage = resultAxios.data;
                        this.hasError = false;
                        this.updateData = '';
                    }).catch(function (error) {
                    this.statusMessage = error.response.data;
                    this.hasError = true;
                }.bind(this));
                this.showAndHideAlert();
            },
            showAndHideAlert() {
                $(".alert").fadeIn('slow');
                setTimeout(function () {
                    $('.alert').fadeOut('slow');
                }, 1500);
                this.statusMessage = '';
            },
            fetchCategories() {
                axios.get("/api/categories").then(function (response) {
                    this.categories = response.data;
                }.bind(this));
            },

            cancelPhotoUploading() {
                this.updateData = '';
                this.statusMessage = '';
                this.uploadPhotoPreview = '';
                this.cleanFileInput("#photo_input_file");
            },
            uploadPhoto() {
                var uploadingFile = document.getElementById("photo_input_file").files[0];
                if (!this.isUploadingFileTypeOfImage(uploadingFile)) {
                    this.hasError = true;
                    this.statusMessage = "File should be type of image";
                    this.showAndHideAlert();
                    return;
                }
                if (this.uploadPhotoCategory === '') {
                    this.hasError = true;
                    this.statusMessage = "Please choose a category";
                    this.showAndHideAlert();
                    return;
                }

                var formData = new FormData();
                formData.append("photo", uploadingFile);
                formData.append("title", this.uploadPhotoTitle);
                formData.append("description", this.uploadPhotoDescription);
                formData.append("category", this.uploadPhotoCategory);

                this.statusMessage = 'Uploading.. Please wait.. ' + '<i class="fas fa-sync fa-spin"></i>';
                this.updateData = '';

                this.cleanFileInput("#photo_input_file");

                postPhotoRequest(this.user.id, formData)
                    .then((resultAxios) => {
                        this.uploadPhotoTitle = '';
                        this.uploadPhotoDescription = '';

                        this.statusMessage = "";
                        this.hasError = false;
                        this.updateData = '';
                        this.fetchUserPhotos();
                    }).catch(function (error) {
                    alert(error.response.data);
                    this.hasError = true;
                }.bind(this));
            },
            isUploadingFileTypeOfImage(file) {
                return file.name.match(/.(jpg|jpeg|png|gif)$/i);
            },
            fetchUserPhotos() {
                getUserPhotosRequest(this.user).then(function (response) {
                    this.userPhotos = response.data.reverse();
                }.bind(this));
            },
            openModalPhoto(photo) {
                this.modalPhoto = '';
                this.modalPhoto = photo;
                this.fetchCommentsToPhoto(photo);
                console.log(photo);
                $('.user-photo-modal').modal('show')
            },
            getCategoryName() {
                return this.modalPhoto.photoCategory.name;
            },
            deletePhoto(photo) {
                deletePhotoRequest(this.user, photo).then((res) => {
                    this.fetchUserPhotos();
                    this.fetchFavoritePhotos()
                    $('.user-photo-modal').modal('hide');
                }).catch(function (errors) {
                    alert(errors.response)
                });
            },
            fetchFavoriteUsers() {
                getFavoriteUsersRequest(this.user)
                    .then(function (response) {
                        this.favoriteUsers = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchFavoritePhotos() {
                getFavoritePhotosRequest(this.user)
                    .then(function (response) {
                        this.favoritePhotos = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchCommentsToPhoto(photo) {
                getCommentsToPhotoRequest(photo.id)
                    .then(function (response) {
                        this.commentCounter = response.data.length;
                    }.bind(this))
            }

        }
    })
</script>
</body>
</html>