<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head('News')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="photoRoot">


    <img v-bind:src="photo.url" class="blurred-background"/>


    <div class="row hor-sep-60"></div>

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>


    <div class="hor-sep-30"></div>
    <div class="row">
        <div class="col-md-5 offset-md-2 single-photo">
            <div class="photo-container">
                <div class="photo-header">
                    <h5><b>{{photo.title}}</b></h5>
                    <p>{{photo.description}}</p>
                </div>
                <div class="photo">
                    <a v-bind:href="photo.url"><img v-bind:src="photo.url" alt=""/></a>
                </div>

                <div class="photo-description" v-if="photo.user">
                    <p>
                        <a v-bind:href="'/profile/' + photo.user.username"><b>@{{photo.user.username}} </b></a>| <span>{{photo.photoCategory.name}}</span>
                        <span class="float-right"> {{photo.dateCreated}}</span>
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-4 single-photo">
            <div class="comments-container">
                <div class="comments-header">
                    <h5><b>Comments</b></h5>
                </div>
                <div class="comments-body">
                    <ul>
                        <li v-show="!commentsExist">No comments yet . . .</li>
                        <li v-for="comment in comments">
                            <a v-bind:href="'/profile/' + comment.user.username"><b>@{{comment.user.username}}</b></a> : {{comment.content}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>
    var photo = new Vue({
        el: '#photoRoot',
        data: {
            photo: {},
            loggedInUser: {},
            comments: "",
            commentsExist: false
        },
        mounted() {
            this.fetchPhotoById();
        },
        methods: {
            getPhotoId() {
                var splitted = window.location.href.split('/');
                return splitted[splitted.length - 1];
            },
            fetchPhotoById() {
                var id = this.getPhotoId();
                getPhotoRequest(id)
                    .then((resultAxios) => {
                        this.photo = resultAxios.data;
                        this.fetchLoggedInUser();
                        this.fetchCommentsToPhoto()
                        ''
                    }).catch(function (error) {
                }.bind(this))
            },
            fetchLoggedInUser() {
                if (getCookie("access_token")) {
                    getLoggedInUserRequest()
                        .then(function (response) {
                            this.loggedInUser = response.data;
                        }.bind(this))
                        .catch(function (error) {
                            deleteCookie("access_token");
                            return error;
                        });
                }
            },
            fetchCommentsToPhoto() {
                getCommentsRequest(this.photo.id)
                    .then(function (response) {
                        if (response.data.length > 0)
                            this.commentsExist = true;
                        this.comments = response.data.reverse();
                    }.bind(this)).catch(function (error) {
                    console.log(error)
                });
            }
        }
    })
</script>
</body>
</html>