<!doctype html>
<html lang="en">
<head th:include="fragments/header :: head('Photo')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="photoRoot">

    <img v-bind:src="photo.url" class="blurred-background"/>

    <!--<div class="row hor-sep-60"></div>-->

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

    <!--<div class="hor-sep-30"></div>-->
    <div class="row">
        <div class="col-md-5 offset-md-2 single-photo">
            <div class="photo-container">
                <div class="photo-header">

                    <h5><b>{{photo.title}}</b></h5>
                    <p>{{photo.description}}</p>
                    <span style="font-size: 0.7em; font-style: italic"
                          class="float-right"><i class="far fa-calendar-alt"></i> {{photo.dateCreated}} </span>
                </div>
                <div class="photo">
                    <a v-bind:href="photo.url"><img v-bind:src="photo.url" alt=""/></a>
                </div>
                <div class="photo-description" v-if="photo.user">
                    <p>
                        <a v-bind:href="'/profile/' + photo.user.username"><b>@{{photo.user.username}} </b></a>
                        | <a href="#"
                             onclick="openCategory(photoVue.photo.photoCategory.name)">{{photo.photoCategory.name}}</a> |
                        <span onclick="addPhotoToFavoritesRequest(photoVue.loggedInUser, photoVue.photo, photoVue)"
                              class="favorite-add" v-if="!isPhotoFavorite"
                              v-on:click="isPhotoFavorite = !isPhotoFavorite; favoriteCount++"> <i
                                class="far fa-star"></i> add </span>
                        <span onclick="removePhotoFromFavoritesRequest(photoVue.loggedInUser, photoVue.photo, photoVue)"
                              class="favorite-remove" v-else-if="isPhotoFavorite"
                              v-on:click="isPhotoFavorite = !isPhotoFavorite; favoriteCount--"><i
                                class="fas fa-star" style="color: #EEB902"></i> remove </span>

                        <span class="float-right" style="color:#fff"><i class="far fa-star"></i> {{favoriteCount}}</span>
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-5 single-photo">

            <div class="comments-container">
                <div class="comments-header">
                    <h5><b>Comments</b></h5>
                    <transition name="flip" mode="out-in">
                        <button v-show="!writingComment" style="color:#EEB902; border: #EEB902 1px solid" class="btn btn-outline-dark"
                                v-on:click="writingComment = !writingComment">Leave a comment
                        </button>
                    </transition>

                    <span class="float-right" style="font-size: 0.7em"><i class="far fa-comment"></i> {{commentCounter}}</span>
                    <!-- ... the buttons ... -->
                    <transition name="flip" mode="in-out">


                        <div v-show="writingComment" class="comment-input-section">
                            <textarea maxlength="150" v-model="commentContent" type="text" rows="3"
                                      id="comment-textarea"></textarea>
                            <button v-on:click="postCommentToPhoto" :disabled="commentIsOutOfRange"
                                    class="btn btn-success">Send
                            </button>
                            <span class="length-counter">{{charactersLeft}} characters left</span>

                            <button class="btn btn-danger float-right"
                                    v-on:click="writingComment = !writingComment">Cancel
                            </button>

                        </div>
                    </transition>
                    <div v-show="statusMessage" class="alert alert-warning" role="alert"><span
                            v-html="statusMessage"></span></div>

                </div>

                <div class="comments-body">
                    <ul>
                        <li v-show="comments.length === 0">No comments yet . . .</li>
                        <li v-for="comment in comments">
                            <span style="color:red; cursor: pointer" v-on:click="deleteComment(comment.id)"
                                  v-show="comment.user.id === loggedInUser.id || loggedInUser.id === 3">X</span>
                            <a v-bind:href="'/profile/' + comment.user.username"><b>@{{comment.user.username}}</b></a>:
                            {{comment.content}} <br/>
                            <span style="font-size: 0.7em; font-style: italic">{{comment.dateCreated}}</span>
                        </li>
                        <br/>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script>
    const MAX_COMMENT_LENGTH = 150;
    // loadProgressBar();

    var photoVue = new Vue({
        el: '#photoRoot',
        data: {
            photo: {},
            loggedInUser: '',
            comments: "",
            commentContent: "",
            commentCounter: 0,
            writingComment: false,
            statusMessage: '',
            favoritePhotos: [],
            isPhotoFavorite: false,
            favoriteOfUsers: [],
            favoriteCount: 0,

        },
        mounted() {
            this.fetchPhotoById();
        },
        computed: {
            commentIsOutOfRange: function () {
                return this.charactersLeft == MAX_COMMENT_LENGTH || !(this.charactersLeft >= 0);
            },
            charactersLeft: function () {
                return MAX_COMMENT_LENGTH - this.commentContent.length;
            },
        },
        methods: {
            getPhotoId() {
                var splitted = window.location.href.split('/');
                return splitted[splitted.length - 1];
            },
            fetchPhotoById() {
                var id = this.getPhotoId();
                getPhotoRequest(id)
                    .then((resultAxios) => {
                        this.photo = resultAxios.data;
                        this.fetchLoggedInUser();
                        this.fetchCommentsToPhoto();
                        this.fetchFavoriteOfUsers();
                    }).catch(function (error) {
                }.bind(this))
            },
            fetchLoggedInUser() {
                if (getCookie("access_token")) {
                    getLoggedInUserRequest()
                        .then(function (response) {
                            this.loggedInUser = response.data;
                            this.fetchFavoritePhotos();
                        }.bind(this))
                        .catch(function (error) {
                            deleteCookie("access_token");
                            return error;
                        });
                }
            },
            fetchCommentsToPhoto() {
                getCommentsRequest(this.photo.id)
                    .then(function (response) {
                        this.comments = response.data.reverse();
                        this.commentCounter = response.data.length;
                    }.bind(this)).catch(function (error) {
                    console.log(error)
                });
            },
            postCommentToPhoto() {
                if (this.loggedInUser === '') {
                    this.statusMessage = 'Please ' + '<a href="/signin" style="color: #fff; text-decoration: underline" class="alert-link">sign in</a>' + ' to leave a comment';
                    return;
                }
                postCommentRequest(this.photo.id, this.commentContent)
                    .then(function (response) {
                        this.commentContent = '';
                        this.fetchCommentsToPhoto()
                    }.bind(this))
            },
            fetchFavoritePhotos() {
                getFavoritePhotosRequest(this.loggedInUser)
                    .then(function (response) {
                        this.favoritePhotos = response.data;
                        this.fetchIsPhotoFavorite(this.photo);
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchIsPhotoFavorite(photo) {
                this.isPhotoFavorite = this.favoritePhotos.some(e => e.id === photo.id);
            },
            fetchFavoriteOfUsers() {
                getFavoriteOfUsersRequst(this.photo.id)
                    .then(function (response) {
                        this.favoriteOfUsers = response.data;
                        this.favoriteCount = response.data.length;
                    }.bind(this))
            },
            deleteComment(commentId) {
                deleteCommentRequest(this.loggedInUser.id, commentId)
                    .then(function (response) {
                        this.statusMessage = "Comment has been deleted";
                        this.showAndHideAlert()
                        this.fetchCommentsToPhoto();

                    }.bind(this))
                    .catch(function (errors) {
                        console.log(errors);
                    })
            },
            showAndHideAlert() {
                $(".alert").fadeIn('slow');
                setTimeout(function () {
                    $('.alert').fadeOut('slow');
                }, 1300);
            },
        }
    })
</script>
</body>
</html>