<!doctype html>
<html lang="en">
<head th:include="fragments/header :: head('Photos')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>
<div class="container-fluid" id="categoriesRoot">

    <div class="row hor-sep-60"></div>

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>

    <div class="hor-sep-30"></div>

    <!-- Modal -->
    <div class="modal fade user-photo-modal" tabindex="-1" role="dialog"
         aria-labelledby="user-photo-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style=" border: none">

                <h5 style="left: 5px;" v-if="modalPhoto.user">
                    <a v-bind:href="'/profile/' + modalPhoto.user.username" class="badge badge-dark">
                        <img src="" v-bind:src="modalPhoto.user.avatarUrl" alt=""/>
                        @{{modalPhoto.user.username}}</a>
                </h5>

                <h5 style="right: 5px;" v-if="modalPhoto.photoCategory">
                    <a onclick="openCategory(photosPage.modalPhoto.photoCategory)" style="color: white;" href="#"
                       class="badge badge-dark category-badge"><i class="fas fa-clipboard-list"></i>
                        {{modalPhoto.photoCategory.name}}</a>
                </h5>
                <a v-bind:href="'/photo/' + modalPhoto.id">

                    <img v-bind:src="modalPhoto.url" alt=""/>
                </a>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div v-show="modalPhoto.title"><p><b>{{modalPhoto.title}}</b></p></div>
                            <div v-show="modalPhoto.description"><p>{{modalPhoto.description}}</p></div>
                            <a v-bind:href="'/photo/' + modalPhoto.id" class="btn btn-outline-success"><i
                                    class="fas fa-comment"></i> Comments ({{commentCounter}})</a>
                            <a v-if="!isPhotoFavorite" v-on:click="isPhotoFavorite = !isPhotoFavorite;"
                               onclick="addPhotoToFavoritesRequest(photosPage.loggedInUser, photosPage.modalPhoto, photosPage); return false"
                               class="btn btn-outline-dark" href="#"><i class="fas fa-star"></i> Favorite</a>
                            <a v-else-if="isPhotoFavorite" v-on:click="isPhotoFavorite = !isPhotoFavorite;"
                               onclick="removePhotoFromFavoritesRequest(photosPage.loggedInUser, photosPage.modalPhoto, photosPage); return false"
                               class="btn btn-outline-dark" href="#"><i class="far fa-star"></i> Remove</a>


                            <button disabled="disabled" class=" btn btn-outline-dark" v-if="modalPhoto.dateCreated"><i
                                    class="fas fa-calendar-alt"></i> {{modalPhoto.dateCreated}}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div id="categories-nav" class="categories">
                <div class="close-categories-btn"><p href="javascript:void(0)" onclick="closeCategoriesNav()"><i
                        class="fas fa-times"></i></p>
                    <p style="font-size: 0.6em" v-on:click="fetchAllPhotos" href="#">All categories</p>
                </div>
                <p v-for="category in categories" v-on:click="fetchPhotosByCategory(category)"
                   :class="{ active:activeCategory(category) }" href="#">{{category.name}}</p>
            </div>

            <div class="col-md-10 offset-md-2">
                <span class="open-categories-btn" onclick="openCategoriesNav()"><i class="fas fa-bars"></i> Select category</span>
                <span v-show="category" class="float-right">Category - <b>{{category.name}}</b> - {{photos.length}} photos</span>
                <div class="photos-container row">
                    <div v-for="photo in photos" class="photo-grid-item" v-on:click="openModalPhoto(photo)">
                        <img v-bind:src="photo.url"
                             class="grid-image openImageDialog"
                             alt=""/>
                        <div class="middle">
                            <h5><b>{{photo.title}}</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script th:inline="javascript">


    function openCategoriesNav() {
        document.getElementById("categories-nav").style.width = "200px";
    }

    function closeCategoriesNav() {
        document.getElementById("categories-nav").style.width = "0";
    }

    loadProgressBar();

    var photosPage = new Vue({
        el: '#categoriesRoot',
        data: {
            categories: '',
            category: '',
            photos: [],
            modalPhoto: '',
            commentCounter: 0,
            isPhotoFavorite: false,
            favoritePhotos: [],
            loggedInUser: ''
        },
        mounted() {
            this.fetchLoggedInUser();
            this.fetchCategories();
        },
        methods: {
            activeCategory(category) {
                return this.category.id === category.id;
            },
            fetchLoggedInUser() {
                if (getCookie("access_token")) {
                    getLoggedInUserRequest()
                        .then(function (response) {
                            this.loggedInUser = response.data;
                            this.fetchFavoritePhotos();
                        }.bind(this))
                        .catch(function (error) {
                            deleteCookie("access_token");
                            return error;
                        });
                }
            },
            fetchCategories() {
                getCategoriesRequest()
                    .then(function (response) {
                        this.categories = response.data;
                        this.getCategoryFromRequest();
                    }.bind(this)).catch(function (errors) {
                    console.log(errors)
                });
            },
            fetchAllPhotos() {
                this.category = '';
                getAllPhotosRequest()
                    .then(function (response) {
                        this.photos = response.data.reverse();
                    }.bind(this)).catch(function (errors) {
                    console.log(errors)
                })
            },
            openModalPhoto(photo) {
                this.modalPhoto = photo;
                this.fetchIsPhotoFavorite(photo);
                this.fetchCommentsToPhoto(photo);
                $('.user-photo-modal').modal('show')
            },
            fetchFavoritePhotos() {
                getFavoritePhotosRequest(this.loggedInUser)
                    .then(function (response) {
                        this.favoritePhotos = response.data;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchIsPhotoFavorite(photo) {
                this.isPhotoFavorite = this.favoritePhotos.some(e => e.id === photo.id);
            },
            fetchCommentsToPhoto(photo) {
                getCommentsToPhotoRequest(photo.id)
                    .then(function (response) {
                        this.commentCounter = response.data.length;
                    }.bind(this))
            },
            fetchPhotosByCategory(category) {
                getPhotosByCategoryRequest(category.id)
                    .then(function (response) {
                        this.photos = response.data;
                        this.category = category;
                    }.bind(this))
            },
            getCategoryFromRequest() {
                var categoryName = localStorage.getItem("categoryName");
                if (categoryName == null) {
                    this.fetchAllPhotos();
                    return;
                }
                getCategoryByNameRequest(categoryName)
                    .then(function (response) {
                        this.category = response.data;
                        this.fetchPhotosByCategory(response.data);
                    }.bind(this));
                localStorage.removeItem("categoryName");
            }
        }
    })
</script>
</body>
</html>