<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head('My Profile')"></head>
<body>
<header th:replace="fragments/header :: header">TOP NAVIGATION</header>

<div class="container-fluid" id="myProfileRoot">
    <div class="row hor-sep-60"></div>

    <ul th:replace="fragments/nav :: leftNav">LEFT SIDE NAVIGATION</ul>
    <div class="profile-tab">
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Uploads')">My Uploads</button>
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Favorites')">Favorites</button>
        <button class="profileTabBtn" onclick="openProfileTab(event, 'Settings')">Settings</button>
    </div>

    <!-- Tab content -->
    <div class="container-fluid">
        <div class="row hor-sep-50"></div>
        <div id="Uploads" class="profileTabContent">

            <h3>My Uploads</h3>
            <p>London is the capital city of England.</p>
        </div>
        <div id="Favorites" class="profileTabContent">
            <h3>Favorites</h3>
            <p>London is the capital city of England.</p>
        </div>


        <div id="Settings" class="profileTabContent">
            <h3>Settings</h3>
            <p>Settings is the capital city of England.</p>


            <div >
                <h2>Select an image</h2>
                <input type="file" v-on:change="onFileChange" id="avatar_input_file" value="Choose file"/>
            </div>
            <div v-if="avatarImage">
                <img :src="avatarImage" />
                <button v-on:click="removeImage">Remove image</button>
            </div>
            <button v-on:click="uploadAvatar">Upload new avatar</button>
        </div>


    </div>
</div>

<div th:replace="fragments/footer :: scripts"></div>

<script th:src="@{scripts/profile.js}"
        src="../static/scripts/profile.js"
        type="text/javascript">
</script>

<script>
    new Vue({
        el: '#myProfileRoot',
        data: {
            avatarImage: '',
        },
        methods: {
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var avatarImage = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    this.avatarImage = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.avatarImage = '';
            },
            uploadAvatar() {
                var formData = new FormData();
                formData.append("avatarImage", document.getElementById("avatar_input_file").files[0]);
                axios.put('/users/' + vueLoggedUser.signedInUserId + '/updateAvatar?access_token=' + getCookie("access_token"), formData)
            }

        }
    })
</script>
</body>


</html>